
<body class="page-body login-page boxed-layout">
  <div class="login-container" style="background-color: #2d7574">
    <div class="login-content">
      <div class="logo">
        <a>
          <img src="assets/images/logo-enragri.png" width="85" alt="" />
        </a>
      </div>
      <p class="description" style="color: white; margin-top: 15px">
        Bienvenu,connecter pour acceder à votre espace dans ENRagri
      </p>
    </div>

    <!-- <div class="login-progressbar">
      <div></div>
    </div>-->

    <div class="login-form">
      <div class="login-content">
        <div class="alert alert-danger " role="alert" *ngIf="submitted && formLogin.valid && msgError">
          {{msgError}}

          </div>
          <div class="alert alert-success " role="alert" *ngIf="submitted && formLogin.valid && msgSuccess">
            {{msgSuccess}}

            </div>

        <form
          method="post"
          role="form"
          id="form_login"
          [formGroup]="formLogin"
          (ngSubmit)="Reset_Password()"
        >
        <div class="form-group">
          <div class="input-group" style="background-color: white">
            <div class="input-group-addon">
              <i class="entypo-key"></i>
            </div>

            <input
              formControlName="resetPasswordToken"
              style="color: #000"
              type="text"
              class="form-control"
              name="code"
              id="code"
              placeholder="Code"
              autocomplete="off"
            />

          </div>
          <div  *ngIf="submitted && !fnCode.valid" class="alert alert-danger ">
            <div *ngIf="fnCode.errors.minlength">
              Code should be minimum
              {{ fnCode.errors.minlength.requiredLength }}
            </div>
            <div *ngIf="fnCode.errors.maxlength">
              Code should be maximum
              {{ fnCode.errors.maxlength.requiredLength }}
            </div>
            <div *ngIf="fnCode.errors.required">Code is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group" style="background-color: white">
            <div class="input-group-addon">
              <i class="entypo-key"></i>
            </div>

            <input
              formControlName="newPassword"
              style="color: #000"
              type="password"
              class="form-control"
              name="newPassword"
              id="newPassword"
              placeholder="new password"
              autocomplete="off"
            />

          </div>
          <div  *ngIf="submitted && fnNewPwd.invalid" class="alert alert-danger ">

            <div *ngIf="fnNewPwd.errors.required">New password is required</div>
          </div>
        </div>
        <div class="form-group">
          <div class="input-group" style="background-color: white">
            <div class="input-group-addon">
              <i class="entypo-key"></i>
            </div>

            <input
              formControlName="confirmPassword"
              style="color: #000"
              type="password"
              class="form-control"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Confirm new password"
              autocomplete="off"
            />

          </div>
          <div
            *ngIf="submitted  && !fnConfirmPwd.valid"
            class="alert alert-danger "
          >
            <span *ngIf="fnConfirmPwd.errors.required"
              >Confirm New Password is required</span
            >

            <span *ngIf="fnConfirmPwd.errors.mustMatch"
              >Passwords must match</span
            >


        </div>

        </div>
          <!-- <div class="form-group">
            <div class="input-group" style="background-color: white">
              <div class="input-group-addon">
                <i class="entypo-key"></i>
              </div>

              <input
                formControlName="resetPasswordToken"
                style="color: #000"
                type="password"
                class="form-control"
                name="confirm_password"
                id="confirm_password"
                placeholder="confirm_password"
                validateEqual="password"
              />
              <p *ngIf="fnPwd.touched && !fnPwd.valid" class="text-danger">
                <span *ngIf="fnPwd.errors.required">Confirm password is required</span>
              </p>
            </div>
          </div> -->

          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary btn-block btn-login"
              style="background-color: #00ae81; text-align: center"
            >
              <i class="entypo-login"></i>
              Valider
            </button>
          </div>
        </form>


      </div>
    </div>
  </div>

  <!-- Bottom scripts (common) -->
</body>
