<main class="container">
  <div class="title mb-3 mt-3">
    <p>Gisement</p>
  </div>
  <div class="container client-tab mb-3">
    <div class="row client-form">
      <div class="col-12 col-lg-8 left">
        <div class="row d-flex justify-content-center mb-3">
          <div class="col-8">
            <div class="row line mb-3">
              <div class="col-4 stepText1 actve" >Catégorie d'intrant</div>
              <div class="col-4 stepText2">Intrant Total</div>
              <div class="col-4 stepText3">Puissance</div>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="step step1 activated"></div>
              </div>
              <div class="col-4"><div class="step step2"></div></div>
              <div class="col-4"><div class="step step3"></div></div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-3" id="tab1">
          <div class="col-8 content">
            <div class="form-floating mb-3">
              <select
                class="form-select shadow-none"
                id="floatingSelect"
                aria-label="Floating label select example"
              >
                <option selected class="w-100">Sélectionner</option>
                <option value="1">Animal</option>
                <option value="2">Végital</option>
              </select>
              <label for="floatingSelect">Type d'intrant </label>
              <div
                class="
                  d-flex
                  justify-content-between
                  align-items-center
                  mt-2
                "
              >
                <p
                  style="
                    margin-left: 12px;
                    font-weight: 600;
                    color: #00ae81;
                  "
                >
                  Animal
                </p>
                <button class="btn-form mt-2">
                  <span>Continuer</span>
                  <span><i class="fi fi-rr-Angle-right"></i></span>
                </button>
              </div>
            </div>
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInput"
                placeholder="Quantité"
              />
              <label for="floatingInput">Quantité</label>
            </div>
            <div class="row">
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput"
                    placeholder="MB"
                  />
                  <label for="floatingInput">MB</label>
                </div>
              </div>
              <div class="col-4 d-block justify-content-center align-items-center">
                <label for="">Selectionnez:</label>
                <div class=" d-flex justify-content-center align-items-center ">
                <button class="btn-form me-3">oui</button>
                <button class="btn-form">Modifier</button>
              </div>
                <!-- <div class="form-floating">
                  <select
                    class="form-select shadow-none"
                    id="floatingSelect"
                    aria-label="Floating label select example"
                  >
                    <option selected class="w-100">Sélectionner</option>
                    <option value="1">Oui</option>
                    <option value="2">Modifier</option>
                  </select>
                  <label for="floatingSelect"
                    >Votre catégorie d'intrant?
                  </label>
                </div> -->
              </div>
              <div class="col-4">
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput"
                    placeholder="name@example.com"
                  />
                  <label for="floatingInput">Total</label>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row d-flex justify-content-center mb-3">
          <div class="col-8 content">
            <table class="table">
              <thead>
                <tr class="table-success">
                  <th scope="col">Type</th>
                  <th scope="col">Quantité</th>
                  <th scope="col">MB</th>
                  <th scope="col">Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">Animal</th>
                  <td>000</td>
                  <td>000</td>
                  <td>000</td>
                </tr>
                <tr>
                  <th scope="row">Végital</th>
                  <td>000</td>
                  <td>000</td>
                  <td>000</td>
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <div class="row d-flex justify-content-center mb-3">
          <div class="col-8 content">
            <table class="table">
              <thead>
                <tr class="table-success">
                  <th scope="col">Total MS</th>
                  <th scope="col">Total MB</th>
                  <th scope="col">Total Nm3CH4/h</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>000</td>
                  <td>000</td>
                  <td>000</td>
                </tr>
                <tr>
                  <td>000</td>
                  <td>000</td>
                  <td>000</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row d-flex justify-content-center">
          <div
            class="col-8 d-flex justify-content-between align-items-center"
          >
            <div>
              <button class="btn-form">
                <span class="btn-txt">+</span>
              </button>
            </div>
            <div class="next-btn">
              <button class="save" onClick="showNext()">
                <span class="btn-txt">Suivant</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4 right">
        <div>
          <h5>Catégorie des intrants</h5>
          <p>
            Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
            diam nonumy eirmod tempor invidunt ut labore et dolore magna
            aliquyam erat, sed diam voluptua. At.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Step Bar start -->

  <div class="container">
    <ul class="progressbar">
      <li class="active">
        <img width="60px" src="assets/images/gisement.png" />
        <p>Gisement</p>
      </li>
      <li>
        <img width="60px" src="assets/images/recettes.png" />
        <p>Recette</p>
      </li>
      <li>
        <img width="60px" src="assets/images/capex.png" />
        <p>CAPEX</p>
      </li>
    </ul>
  </div>


  <!-- Step Bar end -->
</main>

























<!--
  <div *ngIf="isActive(Steps.STEP_1)">
  <input formControlName="test1" value="test1" />
  <button (click)="setActive(Steps.STEP_2)">suivant</button>
</div>
<div *ngIf="isActive(Steps.STEP_2)">
  <input formControlName="test2" value="Test2" />
  <button (click)="setActive(Steps.STEP_3)">suivant</button>
  <button (click)="setActive(Steps.STEP_1)">retour</button>
</div>
<div>
  <div *ngIf="isActive(Steps.STEP_3)">
    <input formControlName="test3" value="Test3" />
    <button (click)="setActive(Steps.STEP_2)">retour</button>
  </div>
</div>
-->
