<h3 style="color: #00AE81;">Liste Staffs</h3>
<div class="container">
<div class="staff-tab mb-3">
  <div class="buttons mb-2">
    <button class="add-btn">
      <span class="btn-txt">Ajouter</span>
      <span class="btn-icon"></span>
    </button>
    <button class="edt-btn">
      <span class="btn-txt">Modifier</span>
      <span class="btn-icon"><i class="fi fi-rr-pencil"></i></span>
    </button>
  </div>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Matricule</th>
          <th scope="col">Prénom</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">tel</th>
          <th scope="col">Date embauche</th>
          <th scope="col">Fonction</th>
          <th scope="col">Manager</th>
          <th scope="col">Rue</th>
          <th scope="col">Complément d’adresse</th>
          <th scope="col">CP</th>
          <th scope="col">Ville</th>
          <th scope="col">Pays</th>
          <th scope="col">Tel2</th>
          <th scope="col">Email2</th>
          <th scope="col">
            Contact d’urgence
            <span style="font-size: 0.625rem">(nom et prénom)</span>
          </th>
          <th scope="col">
            Contact d’urgence
            <span style="font-size: 0.625rem">(relation)</span>
          </th>
          <th scope="col">
            Contact d’urgence
            <span style="font-size: 0.625rem">(Teléphone)</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
          <td>Text</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
</div>
