
<body class="page-body login-page boxed-layout">
  <div class="login-container" style="background-color: #2d7574">
    <div class="login-content">
      <div class="logo">
        <a>
          <img src="assets/images/logo-enragri.png" width="85" alt="" />
        </a>
      </div>
      <p class="description" style="color: white; margin-top: 15px">
        Bienvenu,connecter pour acceder à votre espace dans ENRagri
      </p>
    </div>

    <!-- <div class="login-progressbar">
      <div></div>
    </div>-->

    <div class="login-form">

      <div class="login-content">
        <div class="alert alert-danger " role="alert" *ngIf="submitted && formLogin.valid && msgError">
          {{msgError}}

          </div>
          <div class="alert alert-success " role="alert" *ngIf="submitted && formLogin.valid && msgSuccess">
            {{msgSuccess}}

            </div>
        <form method="post" role="form" id="form_forgot_password"
        [formGroup]="formLogin" (ngSubmit)="forgotPassword()">

          <div class="form-forgotpassword-success">
            <i class="entypo-check"></i>
            <h3>Reset email has been sent.</h3>
            <p>Please check your email, reset password link will expire in 24 hours.</p>
          </div>

          <div class="form-steps">

            <div class="step current" id="step-1">

              <div class="form-group">
                <div class="input-group" style="background-color: white">
                  <div class="input-group-addon">
                    <i class="entypo-mail"></i>
                  </div>

                  <input
                    formControlName="email"
                    style="color: #000"
                    type="text"
                    class="form-control"
                    id="username"
                    placeholder="Email"
                  />

                </div>
                <div  *ngIf="submitted && !fnEmail.valid" class="alert alert-danger ">
                  <span *ngIf="fnEmail.errors.email">is not an email</span>
                  <span *ngIf="fnEmail.errors.required">Email is required</span>
                </div>
              </div>

              <div class="form-group" *ngIf="!submitted">
                <button type="submit" class="btn btn-info btn-block btn-login">
                  Complete Registration
                  <i class="entypo-right-open-mini"></i>
                </button>
              </div>

            </div>

          </div>

        </form>


        <div class="login-bottom-links">

          <a [routerLink]="['/login']" class="link">
            <i class="entypo-lock"></i>
            Return to Login Page
          </a>

        </div>

      </div>

    </div>
  </div>

  <!-- Bottom scripts (common) -->
</body>
