

<div class=" container main shadow">
  <div class="row " >
    <div class="col-12 d-flex mb-3">
      <button class="add-btn"   data-bs-toggle="modal" data-bs-target="#exampleModal" >
        <span class="btn-txt me-1">Ajouter un projet</span>
        <span class="btn-icon"><i class="fi fi-rr-add"></i></span>
      </button>
    </div>
    <div class="alert alert-danger " role="alert" *ngIf="submitted && formProjet.valid && msgError">
      {{msgError}}

      </div>
      <div class="alert alert-success " role="alert" *ngIf="submitted && formProjet.valid && msgSuccess">
        {{msgSuccess}}

        </div>



    <table class="table">
      <thead>
        <tr>
          <th colspan="1">Réf Projet </th>
          <th colspan="1">Statut</th>
          <th>Accès</th>
          <th>Date Quotation</th>
          <th>Date Contrat</th>
          <th>Date De conception</th>
          <th >Date Construction</th>
          <th>Date En Service</th>
          <th>Date Abandon</th>
          <th>Commentaire</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of projets ">
          <td data-label="">{{p?.ref}}</td>
          <td data-label="Statut :">{{p?.status}}</td>
          <td data-label="Accès :">{{p?.acces}}</td>
          <td data-label="Date Quotation :">{{p?.dateQuotation |date}}</td>
          <td data-label="Date Contrat :">{{p?.dateContrat |date}}</td>
          <td data-label="Date De conception :">{{p?.dateDeConception|date}}</td>
          <td data-label="Date Construction :">{{p?.dateConstruction |date}}</td>
          <td data-label="Date En Service :">{{p?.dateEnService |date}}</td>
          <td data-label="Date Abandon :">{{p?.dateAbandon |date}}</td>
          <td data-label="Commentaire :">{{p?.commentaire}}</td>
          <td data-label="Action :">
            <a type="button"
            class="settings" title="Parametre" data-toggle="tooltip">
            <i class="material-icons" style="color: #018a65;">&#xE8B8;</i></a>

            <a type="button" (click)="deleteProjet(p._id)" class="delete"
            title="Delete" data-toggle="tooltip">
              <i class="material-icons" style="color: red;">&#xE5C9;</i>
            </a>
        </td>

        </tr>

      </tbody>
    </table>
  </div>
    </div>

<!--Modal ajouter projet-->
<div class="spinner-border" role="status" *ngIf="showSpinner" style="position: absolute;display: block;top: 50%;left: 50%;">
  <span class="visually-hidden">Loading...</span>
</div>
<div class="modal fade" id="exampleModal" #exampleModal tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content" >

      <div class="modal-header" >
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="formProjet" (ngSubmit)="createProjet()" >


      <div class="modal-body">
    <div class="container-fluid">

        <div class="row">
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <div class="form-group">

                  <label class="form-label">Réf Projet</label>
                  <input
                    type="text"
                    class="form-control form-control-sm me-1"
                    placeholder="00000"
                    required
                    formControlName="ref"
                  />
                </div>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Statut</label>

                  <select #s (change)="listenEtat(s.value)"
                  formControlName="status"
                  class="form-control form-control-sm"
                  aria-label="Default select example">

                    <option [value]="status[0]" >
                      {{status[0]}}
                    </option>
                    <option [value]="status[1]" >
                      {{status[1]}}
                    </option>
                    <option [value]="status[2]" >
                      {{status[2]}}
                    </option>
                    <option [value]="status[3]" >
                      {{status[3]}}
                    </option>
                    <option [value]="status[4]" >
                      {{status[4]}}
                    </option>
                    <option [value]="status[5]" >
                      {{status[5]}}
                    </option>
                    <option [value]="status[6]" >
                      {{status[6]}}
                    </option>
                  </select>

                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Accès</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="Fiche Projet"
                    required
                    formControlName="acces"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date Quotation</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="01/04/2021"
                    required
                    formControlName="dateQuotation"
                  />
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date Contrat</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="05/08/2021"
                    required
                    formControlName="dateContrat"
                  />
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date conception</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="jj/mm/aaaa"
                    required
                    formControlName="dateDeConception"
                  />
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date Construction</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="jj/mm/aaaa"
                    required
                    formControlName="dateConstruction"
                  />
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date En Service</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="jj/mm/aaaa"
                    required
                    formControlName="dateEnService"
                  />
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                  <label class="form-label">Date Abandon</label>
                  <input
                    type="text"
                    class="form-control form-control-sm"
                    placeholder="jj/mm/aaaa"
                    required
                    formControlName="dateAbandon"
                  />
                </div>
                <div class="col-12 col-sm-12 col-lg-12">
                  <label class="form-label">Commentaires</label>
                  <input
                    type="text"
                    class="form-control form-control-lg"
                    placeholder="commentaire"
                    required
                    formControlName="commentaire"
                  />
                </div>
              </div>
            </div>

          </div>
        </div>



    </div>
    </div>
    <div class="modal-footer">
      <div class="buttons">
        <button class="add-btn" type="submit">
          <span class="btn-txt">Ajouter</span>
        </button>
        <button class="cncl-btn"  data-bs-dismiss="modal">
          <span class="btn-txt">Annuler</span>
        </button>
      </div>
    </div>
  </form>


  </div>
</div>
</div>






