@import '~bs-stepper/dist/css/bs-stepper.min.css';

/* Also import bootstrap if needed */
@import '~bs-stepper/dist/css/bs-stepper.min.css';

html, body {

  max-width: 100%;

  height: 100%;

  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;

}

